/*  Naam: 
*/

th {
    border: 2px solid black;
    text-align: center;
    padding: 5px 15px;

}

td {
    border: 2px solid black;
    text-align: center;
    padding: 5px 15px;
}

h1 {
    display: inline;
    font-size: 50px;
    line-height: 1;
}